{% extends 'base.html' %}

{% block content %}<br><br>
<div class="letra-cuerpo">
	<h1>Criticas Home</h1>
	<p>Bienvenido a <em>Criticas</em>, Django website</p>

	<h2 style="text-align: center;">Recuperar contraseña</h2><br>
	<p>Ingresa tu direccion de correo electronico a continuacion, enviaremos instrucciones para cambiar la contraseña</p><br>

	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<button class="offset-lg-2 btn btn-dark" type="submit">Recuperar</button>
	</form>
</div>
<br><br>
{% endblock %}