{% extends "base_generic.html" %}

{% block content %}
{% load static %}
	<img class="img-fluid" src="{% static 'img/portada-endgame.jpg' %}">

	<div class="cuerpo container">
			<h2 class="titulos">
				'Vengadores: Endgame' (crítica con spoilers): uno de esos hitos cinematográficos que dejaremos a futuras generaciones
			</h2><br>
			<p class="letra-cuerpo">
				Han pasado unas cuantas horas desde que salí de la proyección y aún me cuesta creer que esté escribiendo estas líneas, pero se acabó. Once años y veintidós películas después de que la ‘Iron Man’ de Jon Favreau inaugurase el camino por el que ha transcurrido el magnífico viaje del MCU —que, como todos, ha tenido sus luminosas cumbres y sus sombríos valles—, la gran épica cinematográfica de Marvel Studios ha tocado a su fin.
			</p><br>

			<p class="letra-cuerpo">
				Un periplo de dimensiones titánicas que muy pocos aficionados al noveno arte soñaron siquiera ver proyectado en una sala de cine, en el que hemos ido de la mano de unos personajes a quienes ya conocemos como si fuesen parte de nuestra familia y cuyas versiones impresas nos acompañaron a muchos en nuestros primeros pasos con la ficción.
			</p><br>

			<p class="letra-cuerpo">
				Es precisamente el haber pasado más de una década viendo cómo se iba desarrollando cinta tras cinta —y escena post-créditos tras escena post-créditos— la conocida como ‘Saga del Infinito’ lo que hace especialmente complicado evaluar ‘Vengadores: Endgame’ de forma individual y no como una pieza más de un engranaje narrativo. Como un último y espectacular acto capaz de arrancar aplausos, lágrimas gritos y sonrisas, con el que los hermanos Russo no sólo han dado cierre a la trama que dejó abierta ‘Infinity War’, sino a las tres primeras fases del Universo Cinematográfico de la Casa de las ideas.
			</p><br>

			<h2 class="titulos">Como cantaban Radiohead, ‘No Surprises’</h2><br>

			<img class="tamaño-imagenes" src="{% static 'img/tony.jpg' %}"><br>

			<p class="letra-cuerpo">
				En este mundo de expectativas desbordantes y sentencias rotundas que nos ha tocado vivir, puede que muchos tan sólo estén esperando encontrar una respuesta clara y concisa a la siguiente pregunta: ¿Es ‘Endgame’ la mejor película del MCU? La solución a este enigma, como es lógico, es lo suficientemente compleja como para no poder reducirlo todo a unos escuetos “sí” o “no”, y el mejor modo para resolverlo es volver al símil con ‘Star Wars’ que utilicé para hablar de ‘Infinity War’ en su momento.
			</p><br>

			<p class="letra-cuerpo">
				Si el largometraje que concluyó con el famoso chasquido de Thanos fue el equivalente a ‘El imperio contraataca’ del cine de superhéroes, ‘Endgame’ sería su ‘El retorno del jedi’; algo que se ve reflejado en la inferior capacidad de impacto respecto a su predecesora. Así pues, decimos adiós a la sensación de sorpresa constante y a esa imprevisibilidad que mantuvo al respetable al borde del asiento con la mandíbula desencajada en una sucesión de giros imposibles y sombríos.
			</p><br>

			<img class="tamaño-imagenes" src="{% static 'img/maquina-guerra.jpg' %}"><br>

			<p class="letra-cuerpo">
				Pese al secretismo que ha rodeado a la producción desde sus primeros compases, no ha sido complicado intuir los derroteros por los que circularía el relato. Las escasas pistas dadas por los escuetos tráilers y las películas previas fueron suficientes para llegar a la conclusión de que los Vengadores —o lo que queda de ellos— recurrirían al reino cuántico, a los viajes en el tiempo y a los jugueteos con los multiversos para solucionar sus problemas, e incluso para anticipar el funesto final que esperaba a Tony Stark o, en menor medida, a la Viuda Negra. Después de todo, ‘Endgame’ se anunció como la conclusión a los arcos de los miembros fundadores del supergrupo desde el primer instante.
			</p><br>

			<p class="letra-cuerpo">
				Esta escasez de factor sorpresa en los aspectos básicos del libreto de ‘Endgame’ no quiere decir que los Russo no se hayan guardado unos cuantos ases en la manga como la fantástica —re—incorporación a la plantilla de Ojo de Halcón como Ronin, la presentación de Profesor Hulk —¡ya era hora!—, o la nueva e hilarante versión a lo Gran Lebowski de un Thor en horas bajas. Pero estos pequeños detalles no evitan que la huella del filme sea, en computo global, tan agridulce como su resolución; mucho menos arriesgada de lo que podría haber sido, entre otras cosas, para asegurar el —lógico— futuro de la franquicia.
			</p><br>

			<h2 class="titulos">El corazón del héroe</h2><br>

			<img class="tamaño-imagenes" src="{% static 'img/capitan.jpg' %}"><br>

			<p class="letra-cuerpo">
				Si hablamos en términos generales de su narrativa y apuestas temáticas, ‘Vengadores: Endgame’ no inventa nada nuevo; pero dentro del subgénero superheróico supone un auténtico golpe sobre la mesa que podría compararse, salvando las evidentes distancias —que parten del material original en que se basan ambas obras—, con la arriesgada adaptación del ‘Watchmen’ de Alan Moore y Dave Gibbons firmada por Zack Snyder.
			</p><br>

			<p class="letra-cuerpo">
				El manejo y manipulación de la estructura en tres actos llevado a cabo por la pareja de directores de Cleveland hace que cada minuto de las tres horas de duración del filme —que, todo sea dicho, se pasan como un suspiro— esté aprovechado al máximo; sentando las bases del conflicto durante un impresionante prólogo y un primer acto que marcan un antes y un después para los protagonistas de la aventura.
			</p><br>

			<p class="letra-cuerpo">
				Así, se nos presenta a unos Vengatas muy distintos a los que dejamos en ‘Infinity War’: Tony ahora es un hombre de familia con miedo a perderlo todo tras la desaparición de Peter Parker, Ojo de Halcón pierde el juicio y se convierte en un justiciero asesino, el Dios del Trueno se da a la bebida para aliviar su sentimiento de culpa por no haber matado a Thanos... El panorama no es en absoluto alentador, pero promete una odisea de primera tras la inesperada elipsis de cinco años que marca el inicio de la “acción”.
			</p><br>

			<img class="tamaño-imagenes" src="{% static 'img/rocket.jpg' %}"><br>

			<p class="letra-cuerpo">
				Y entrecomillo acción porque, aunque estemos ante un blockbuster con todas las de la ley —y esto es algo que podría decepcionar a algunos espectadores—, las set-pieces destacan por su escasez y falta de trascendencia, lo cual no está reñido con que el metraje esté regado por gigantescas batallas como la que preside su último tercio, o por pequeñas secuencias para el recuerdo como la pelea entre el Capitán América de 2012 y el de 2019.
			</p><br>

			<p class="letra-cuerpo">
				Optar por relegar la acción sin tregua a un segundo término termina resultando un gran acierto que permite volcar todo los esfuerzos de los impecables equipos técnico, creativo e interpretativo, en el verdadero motor que hace funcionar ‘Endgame’ como la gran fábrica de emociones que es: sus personajes, las dinámicas entre ellos y el modo en que se cierran sus arcos, destacando los de Iron Man —el gran héroe y mártir, con quien empezó, y ahora termina todo— y el Capi —que finalmente ha tenido la oportunidad de recuperar la vida que le fue arrebatada en la II Guerra Mundial—.
			</p><br>

			<h2 class="titulos">El espectáculo superheróico definitivo</h2><br>

			<p class="letra-cuerpo">
				Pero no todo es tragedia y nudos en la garganta, porque, en cuanto a niveles de épica respecta, ‘Vengadores: Endgame’ deja en pañales a prácticamente todo lo visto anteriormente en el Universo Cinematográfico de Marvel y entre la competencia, moldeando con un juego de tonos de lo más preciso —el contrapunto cómico es el más equilibrado de toda la saga— lo que podríamos calificar sin pillarnos los dedos como el espectáculo superheróico definitivo.
			</p><br>

			<img class="tamaño-imagenes" src="{% static 'img/widow.jpg' %}"><br>

			<p class="letra-cuerpo">
				Uno de los principales elementos que la hacen merecedora de este adjetivo es el modo en que lleva el fan-service a un nuevo nivel; algo propiciado en parte por el plan para recuperar las Gemas del Infinito de nuestros héroes, que les obliga a viajar de vuelta a algunos de los momentos clave del MCU, como la batalla de Nueva York de la ‘Vengadores’ original o la secuencia de introducción de ‘Guardianes de la Galaxia’, y nos permite a su vez disfrutarlos desde nuevos ángulos.
			</p><br>

			<p class="letra-cuerpo">
				Pero lo mejor del tratamiento del fan-service es que pasajes como los mencionados no se limitan a la simple referencia para contentar a los seguidores, sino que se emplean para hacer evolucionar la narración y a sus protagonistas, tal y como queda demostrado en el viaje a los años 70 en el que Tony se encuentra con su padre y Steve ve de nuevo a Peggy, o en el emotivo reencuentro de Thor con su madre en Asgard.
			</p><br>

			<p class="letra-cuerpo">
				Esto no quiere decir que ‘Endgame’ no deje instantáneas proyectadas para el simple gozo y disfrute del personal, concentradas en su mayoría durante su descomunal clímax, y ante las que se hace complicado contener los gritos y los aplausos —aún me pican las palmas de las manos—. Y es que ver al Capitán América blandiendo a Mjolnir y gritando su eterno “vengadores, reuníos” tras la aparición de toda la armada de superhéroes después de su resurrección ha sido un momento que, dudo, llegue a borrar jamás de mi mente.
			</p><br>

			<h2 class="titulos">Vengadores desunidos</h2><br>

			<iframe class="tamaño-videos" src="https://www.youtube.com/embed/TR7kVzhzN2E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

			<p class="letra-cuerpo">
				Las muertes de Tony Stark y Natasha Romanoff, la jubilación del Capitán América y el exilio voluntario de Thor, que al fin puede seguir su propio camino —ahora junto a Quill, Rocket y el resto de Guardianes de la Galaxia—, y la disolución de los Vengadores cinematográficos, han marcado el final de una era que no supone en absoluto la clausura de un Universo Marvel con muchas historias que contar por delante y que tendrá que exprimir su potencial al máximo para superar lo visto en la 'Saga del Infinito'.
			</p><br>

			<p class="letra-cuerpo">
				Puede que, como comentaba anteriormente, ‘Endgame’ no alcance los niveles de sorpresa e impacto de ‘Infinity War’, y que contenga alguna que otra decisión poco acertada, como el uso que se da a la Capitana Marvel y el ridículo pretexto para eliminarla de la ecuación hasta que se necesitan sus servicios como deus ex machina. Pero esta última despedida a los héroes más poderosos de la Tierra ha sido uno de esos hitos cinematográficos que, al igual que ocurrió en su momento con el mítico “soy tu padre” del 'Episodio V', cederemos a las futuras generaciones con nostalgia y entusiasmo.
			</p><br>

			<p class="letra-cuerpo">VÍCTOR LÓPEZ G. (espinof.com)</p>
			<p class="letra-cuerpo">25 Abril 2019</p><br>

			<div class="ubicacion-cuerpo">
			<h1>Dejanos tu opinion</h1><br>
			<a href="{% url 'endgame_create' %}"><input class="col-lg-3 col-md-4 col-sm-4 col-5 btn btn-secondary" type="button" name="registrar" value="Comentar"></a>
			<a href="{% url 'comentarioendgame' %}"><input class="offset-lg-1 col-lg-3 col-md-5 col-sm-5 col-6 btn btn-secondary" type="button" name="registrar" value="Detalles Comentarios"></a><br><br><br>

			{% for com in comentario %}
				<div class="container" style="background-color:#6c6c6c;padding-bottom: 2%; border-style: solid;border-color: #000; border-width: 2px; border-radius: 10px">
					<br>
					<h1>{{com.usuario}}<h1>
					<h4 class="letra-cuerpo" style="font-size: 35px;">{{com.descripcion}}</h4>
					<p class="letra-cuerpo" style="font-size: 20px;">{{com.comentario}}</p><br>
					
						<a href="{% url 'endgame_delete' com.id %}"><input class="offset-lg-1 col-lg-2 col-md-3 col-sm-3 col-4 btn btn-dark" type="button" name="registrar" value="Eliminar" ></a>
							<a href="{% url 'endgame_update' com.id %}"><input class="offset-lg-1 col-lg-2 col-md-3 col-sm-3 col-4 btn btn-dark" type="button" name="registrar" value="Editar" ><br><br></a>
					
				</div><br><br>
			{% endfor %}
	</div>
	</div>
{% endblock %}