{% extends "base_generic.html" %}

{% block content %}
{% load static %}
	<div class="container" style="background-color: transparent;">
		<h1 class="text-center display-4 my-4 ">Top Fan Arts</h1><br>
	
		<div class="card-columns">
			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id1">	
					<img src="{% static 'img/1.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://hdqwalls.com/wallpaper/1600x1200/avengers-end-game-fanart"><p class="letra-galeria">Autor: ultraraw26</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/1.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id2">	
					<img src="{% static 'img/2.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://www.domestika.org/es/projects/503210-avengers-endgame-fanarts-1-5"><p class="letra-galeria">Autor: Jose Real Lopez</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/2.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id3">	
					<img src="{% static 'img/3.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://www.deviantart.com/ankitchowdhary/art/Avengers-Endgame-Fanart-799642598"><p class="letra-galeria">Autor: ankitchowdhary</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/3.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id4">	
					<img src="{% static 'img/4.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://www.pinterest.cl/pin/1618549855088599/"><p class="letra-galeria">Autor: Jason Cortez</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/4.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id5">	
					<img src="{% static 'img/5.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://co.pinterest.com/pin/531847037244433687/"><p class="letra-galeria">Autor: DeviantArt</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/5.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id6">	
					<img src="{% static 'img/6.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://vtfrcs.artstation.com/projects/nQkY34"><p class="letra-galeria">Autor: Mijung Kim</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/6.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id7">	
					<img src="{% static 'img/7.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://www.deviantart.com/odamako/art/Doctor-Dolittle-734057489"><p class="letra-galeria">Autor: Odamako</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/7.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id8">	
					<img src="{% static 'img/8.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://www.youtube.com/watch?v=K_G59X805tQ&app=desktop"><p class="letra-galeria">Autor: yicunlang</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/8.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id9">	
					<img src="{% static 'img/9.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://www.behance.net/gallery/86754343/JOKER-fanart"><p class="letra-galeria">Autor: r.masha</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/9.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id10">	
					<img src="{% static 'img/10.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id10" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://twitter.com/lafortalezasole/status/1128734110166417408?lang=ga"><p class="letra-galeria">Autor: Yann Dalon</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/10.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id11">	
					<img src="{% static 'img/11.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id11" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://www.deviantart.com/indahalditha/art/Joaquin-Phoenix-Joker-Fan-Art-765488878"><p class="letra-galeria">Autor: IndahAlditha</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/11.jpg' %}" class="img-fluid rounded">
				</div>
			</div>


			<div class="card">
				<a href="#" data-toggle="modal" data-target="#id12">	
					<img src="{% static 'img/12.jpg' %}" class="card-img-top galeria">
				</a>
			</div>
			<div class="modal fade" id="id12" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close" style="color:#fff;">
          			<span aria-hidden="true">&times;</span>
        		</button>
        		<a href="https://www.pinterest.cl/pin/734086807997893837/"><p class="letra-galeria">Autor: Ruth Barnum</p></a>
  				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    				<img src="{% static 'img/12.jpg' %}" class="img-fluid rounded">
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}