{% extends "base_generic.html" %}

{% block content %}
{% load static %}
	<img class="img-fluid" src="{% static 'img/portada-joker.jpg' %}">

	<div class="cuerpo container">
			<h2 class="titulos">
				'Joker' está siendo terriblemente sobrevalorada y estas son las razones
			</h2><br>
			<p class="letra-cuerpo">
				Ha arrasado. No tiene rival. 'Joker' es la película del año y ha puesto de acuerdo a los espectadores del mundo, aunque la crítica se ha mostrado bastante más dividida. Mientras se acerca a los 300 millones de dólares en su primera semana, convertida ya en un fenómeno de masas, intentaré explicar las razones por las que, sinceramente, pienso que nos estamos dejando llevar por el entusiasmo.
			</p><br>

			<p class="letra-cuerpo">
				Cuando se anunció el proyecto, se vendió solo y de manera inmediata: "Martin Scorsese estará detrás de una película para adultos (eso ha sonado porno) sobre el Joker ambientada en los setenta". Wow, desde ese momento DC ya había ganado una batalla. A partir de ahí, un desfile de nombres con posibilidades de usar el blanco maquillaje del protagonista, hasta que Joaquin Phoenix se confirmó a las órdenes de Todd Phillips, el cerebro detrás de la jugada maestra.
			</p><br>

			<iframe class="tamaño-videos" src="https://www.youtube.com/embed/IfB65qjLbwc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>

			<p class="letra-cuerpo">
				El director de la trilogía de 'Resacón en Las Vegas', 'Aquellas juergas universitarias' o 'Starsky & Hutch' (por aquello de seguir en los setenta), se marcaba un reto imposible de creer hace unos años si no tenemos en cuenta su muy tenue intento de cambiar de registro con 'Juego de armas', una película que ya intentó jugar en la liga del Scorsese más moderno, pero cuyo resultado ni siquiera se aproximó al (excelso) trabajo de Michael Bay en 'Pain & Gain', curiosamente, mucho más goodfelliana, mucho más Scorsese que la película de moda.
			</p><br>

			<img class="tamaño-imagenes" src="{% static 'img/guason1.jpg' %}"><br>

			<p class="letra-cuerpo">
				La famosa incompatibilidad de agendas hollywoodiense impidió la participación del director de 'Taxi Driver' en la producción, pero la maniobra salió bien, y ahora no hay nadie que no mencione sus trabajos más obvios (porque en 'Joker' casi todo es bastante obvio) a la salida de la proyección de la película.
			</p><br>

			<h2 class="titulos">Molar por encima de sus posibilidades</h2><br>

			<p class="letra-cuerpo">
				Creo que a nadie le importa cómo demonios se llega a la conclusión de la trama. Poco importa el camino recorrido si al final todo termina entre perlas ensangrentadas. Otra vez.
			</p><br>

			<p class="letra-cuerpo">
				Y es que, no nos engañemos, 'Joker' es una película que está mucho más preocupada por molar constantemente que por profundizar, aunque sea un poco. Por muchos bailes que se marque su protagonista, o precisamente por eso, nunca lo sabremos, no resulta suficiente. Cada punto de giro concluye en un bailecito que terminará en la desangelada danza de las escaleras, la verdadera víctima de todo el movimiento y el ruido generados alrededor de la película.
			</p><br>

			<p class="letra-cuerpo">
				Si en el tráiler, impecable, ese momento funciona como un tiro se debe a una edición inteligente y a una ambientación musical que está a años luz del resultado final: un simple baile con la canción más sobada de la historia del glam es más que decepcionante. Y luego está la historia detrás de la canción, un turbio asunto que involucra los millonarios royalties que pueda recibir el autor de la canción, en prisión desde hace años y con una condena por cumplir.
			</p><br>

			<img class="tamaño-imagenes" src="{% static 'img/guason2.jpg' %}"><br>

			<p class="letra-cuerpo">
				Por supuesto que es una película formalmente notable, pero como relato del resquebrajamiento de la psique humana tampoco es que ahonde mucho más que la recordada 'Réquiem por un sueño', la película de Darren Aronofsky que, tú y yo lo sabemos, muy bien tampoco estaba. Curiosamente, el protagonista de aquella también interpretó al Joker en 'Escuadrón Suicida', la película más rápidamente rebooteada de la historia del cine.
			</p><br>

			<p class="letra-cuerpo">
				En efecto, Joaquin Phoenix está realmente bien, en su salsa. Un astro de la interpretación que se siente como pez en el agua cada vez que decide aceptar el papel de alguien con un equilibrio emocional complicado. Las tomas de Gotham (repito, Gotham, no Nueva York) a plena luz del día son para enmarcar: la fotografía de Lawrence Sher se ve fría, tosca, áspera, olorosa, ideal para la historia. Como la ambientación musical de Hildur Gudnadottir suena grave, dolorosa. Pero creo que ahí están todos sus méritos.
			</p><br>

			<h2 class="titulos">Lo que cuenta es el final</h2><br>

			<p class="letra-cuerpo">
				Todos esos inmaculados aspectos técnicos se estrellan ante una historia que sabe dónde empieza y dónde debe terminar, pero que toma una serie de atajos que la impiden convertirse en un clásico del cine. Es francamente agotador escuchar el apellido Wayne cada diez minutos (casi antes o justo después de cada baile), para justificar cada uno de los actos que comete una persona enferma.
			</p><br>

			<p class="letra-cuerpo">
				Su guiño pro-Obamacare termina ensuciándose por el fango en el que se va hundiendo la mente del protagonista, que verá cómo el fin de su medicación, también señalando al hombre que podría ocupar esa necesidad de una figura paterna en chez Fleck.
			</p><br>
			
			<img class="tamaño-imagenes" src="{% static 'img/guason3.jpg' %}"><br>

			<p class="letra-cuerpo">
				La torpeza en la narración de la película consigue incluso que algunos agujeros de la trama pasen inadvertidos. Podríamos llenar una lista con ellos, pero hay dos que llaman poderosamente la atención: las mágicas apariciones de los policías y la no menos mágica incursión del protagonista en el cine donde se proyecta la película de Chaplin.
			</p><br>

			<p class="letra-cuerpo">
				¿Y la figura femenina en la película? Bueno, podríamos decir que alguno de los trucos de la película ya lo explotó Marjane Satrapi, y con mucha más fortuna, en su notable 'The Voices', escrita por Michael R. Perry. Las piruetas emocionales y narrativas que da el personaje de Zazie Beetz no se diferencian de una escritura perezosa ni cuando se justifica finalmente. Digamos que en la película del Joker, el comodín es Domino.
			</p><br>

			<p class="letra-cuerpo">
				Tal vez no estaría de más que muchos de los espectadores que aseguran estar ante la mejor película que han visto en años reduzcan un poco la dieta seriéfila de la que se nutren. Tal vez así puedan distinguir 'El rey de la comedia' de una performance en tiempos de La Resistencia.
			</p><br>

			<p class="letra-cuerpo">Daniel Guzmán (tomatazos.com)</p>
			<p class="letra-cuerpo">01 Febrero 2020</p><br><br><br>

		<div class="ubicacion-cuerpo">
		<h1>Dejanos tu opinion</h1><br>
		<a href="{% url 'joker_create' %}"><input class="col-lg-3 col-md-4 col-sm-4 col-5 btn btn-secondary" type="button" name="registrar" value="Comentar"></a>
		<a href="{% url 'comentariojoker' %}"><input class="offset-lg-1 col-lg-3 col-md-5 col-sm-5 col-6 btn btn-secondary" type="button" name="registrar" value="Detalles Comentarios"></a><br><br><br>
		{% for com in comentario %}
				<div class="container" style="background-color:#6c6c6c;padding-bottom: 2%; border-style: solid;border-color: #000; border-width: 2px; border-radius: 10px">
					<br>
					<h1>{{com.usuario}}<h1>
					<h4 class="letra-cuerpo" style="font-size: 35px;">{{com.descripcion}}</h4>
					<p class="letra-cuerpo" style="font-size: 20px;">{{com.comentario}}</p><br>
					
						<a href="{% url 'endgame_delete' com.id %}"><input class="offset-lg-1 col-lg-2 col-md-3 col-sm-3 col-4 btn btn-dark" type="button" name="registrar" value="Eliminar" ></a>
							<a href="{% url 'endgame_update' com.id %}"><input class="offset-lg-1 col-lg-2 col-md-3 col-sm-3 col-4 btn btn-dark" type="button" name="registrar" value="Editar" ><br><br></a>
					
				</div><br><br>
		{% endfor %}

	</div>
	</div>
{% endblock %}